*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #001e4d;
}
.app{
    background-color: white;
    margin: 100px auto 0px;
    padding: 20px;
    width: 90%;
    max-width: 640px;
    border-radius: 10px;
}
.app h1{
    font-size: 45px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    color: #001e4d;
}
.quiz {
    padding: 10px;
}

.quiz h2{
    font-size: 25px;
    padding-bottom: 20px;
}

.ansbtn{
    background-color: rgb(217, 213, 213);
    border: 1px solid black;
    width: 100%;
    margin: 5px 0px;
    border-radius: 3px;
    padding: 5px;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s;
}
.ansbtn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.quizbtn{
    background-color: #4f46e5;   
    width: 100%;   
    margin: 5px 0px;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;          
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.quizbtn:hover {
  background-color: #4338ca;
  transform: translateY(-2px);
}



.nextbtn{
    background-color: #001e4a;
    color: white;
    width: 120px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    padding: 6px;
    display: none;
    margin: 10px auto 0px;
    cursor: pointer;
    text-align: center;
}
.skipbtn{
    background-color: #001e4a;
    color: white;
    width: 120px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    padding: 6px;
    display: none;
    margin: 10px auto 0px;
    cursor: pointer;
    text-align: center;
}
.incorrect {
    background-color: rgb(168, 85, 85);
}

.correct{
    background-color: rgb(87, 129, 87);
}